:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-purple: #43446C;

  --color-gray: #8D8D8D;
  --color-gray-60: #999999;

  --color-black-06: #0F0F0F;
  --color-black-08: #141414;
  --color-black-10: #1A1A1A;
  --color-black-12: #1F1F1F;
  --color-black-15: #262626;
  --color-black-20: #333333;
  --color-black-30: #4C4C4C;

  --border: var(--border-width-s) solid var(--color-black-15);

  --border-width-s: 1px;
  --border-width-m: 3px;
  --border-width-l: 4px;

  --border-radius-xs: 6px;
  --border-radius: 8px;
  --border-radius-s: 10px;
  --border-radius-m: 16px;
  --border-radius-l: 24px;

  --font-family: "Inter", sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: #{fluid(40, 16)};

  --section-padding-y: #{fluid(60, 35)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
