.stack {
  --stackGap: #{fluid(16, 12)};

  @include flex-column(var(--stackGap));

  position: relative;
  padding-bottom: var(--section-padding-y);
  overflow: hidden;

  mask: linear-gradient(
    90deg,
    #0000,
    var(--color-black-08) 5% 95%,
    #0000
  );

  &__wrapper-list,
  &__list {
    display: flex;
    gap: var(--stackGap);
  }

  &__list {
    animation-name: running-line;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &--reverse {
      animation-direction: reverse;
    }


    @keyframes running-line {
      to {
        transform: translateZ(0) translateX(-100%);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: fluid(8, 6) fluid(15, 8);
    background-color: var(--color-black-06);
    color: var(--color-white);

    &::before {
      @include square(1.2cap);

      content: '';
      background: url("@/assets/icons/stack-done.svg") 50% / contain no-repeat;
    }
  }
}